cluster_name         = "stage-eks"
kubernetes_version   = "1.29"
node_instance_type   = "m6i.large"
node_desired_size    = 3
node_min_size        = 3
node_max_size        = 6
node_capacity_type   = "ON_DEMAND"
